@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@300;400&family=Lora:ital,wght@0,400;1,700&family=Open+Sans:wght@300&display=swap');
{
    font-family: 'Koh Santepheap', cursive;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    height: 80px;
    text-transform: uppercase;
    padding-top: 26px;
    padding-bottom: 15px;
    margin-top: 0;
}

.col-9{
    padding: 0 0;
}
#nav-logo{
    font-family: 'Lora', serif;
    padding-top: 15px;
    color:white;
}
.navbar{
    padding: 0 1rem;
}

.left-arrow{
    vertical-align: top;
    padding-top: 3px;
}

.navbar a{
    border-bottom: 2px solid rgba(250,250,250,0.05);
}

.navbar a:hover{
    background-color: rgba(0,0,0,0.25);
    border-bottom: 2px solid #fff;
}


#headerBg {
    height: 80px;
    background-color: #53D3DEFF;
}

#banner{
    height: 500px;
}

.banner-text{
    padding-top: 175px;
    color: white;
}

.banner-text h1{
    color: white;
    font-family: 'Lora', serif;
    font-size: 45px;
}
.banner-text h2{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    letter-spacing: 5px;
}
.banner-text p{
    color: white;
    line-height: 27px;
    font-size: 15px;
}

.btnBG{
    margin-top: 20px;
    margin-right: 25px;
    color: white;
    border: 1px solid #fff;
    border-radius: 0;
}

.btnBG:hover{
    background-color: #53D3DEFF ;
    border: 1px solid #fff;
}

#price{
    height: 690px;
    background-color: #f4f4f4;
}

.price-text{
    padding: 75px 0 45px 0;
}

.price-text h4{
    font-size: 20px;
    font-family: 'Lora', serif;
}

.price-text p{
    font-size: 18px;
    line-height: 10px;
}

.card img{
    width: 100px;
    margin: 30px auto 0 auto;

}

.card-body h5{
    font-family: 'Lora', serif;
}



.currency {
    display: inline-block;
    margin-top: 10px;
    vertical-align: top;
    font-size: 20px;
    font-weight: 400;
}
.duration {
    font-size: 20px;
}
.value {
    font-size: 65px;
    font-weight: 700;
    font-family: 'Lora', serif;
    color: #53D3DEFF;
}

.priceBtn{
    border-radius: 0;
    background-color: #53D3DEFF;
    border: 1px solid #53D3DEFF;
    position: relative;
    top: 40px;
}

.priceBtn:hover{
    border-radius: 0;
    background-color: #76d9e5;
    border: 1px solid #76d9e5;
}

#ads{
    height: 150px;
    background-color: #1D8B94;
}

#adsText{
    padding-top: 63px;
}

#ads h4{
    font-family: 'Lora', serif;
    color: #fff;
    font-size: 21.5px;
}

.adsBtn{
    border-radius: 0;
    background-color: #53D3DEFF;
    border: 1px solid #53D3DEFF;
}

.adsBtn:hover{
    border-radius: 0;
    background-color: #76d9e5;
    border: 1px solid #76d9e5;
}

#card-2{
    height: 600px;
    background-color: #fff;
}

.cardBtn{
    margin: 15px 0;
    border-radius: 0;
    background-color: #53D3DEFF;
    border: 1px solid #53D3DEFF;
}

.cardBtn:hover{
    border-radius: 0;
    background-color: #76d9e5;
    border: 1px solid #76d9e5;
}

.card-bg{
    border-radius: 0;
}

.card-bg:hover{
    background-color: #f4f4f4;
    border: 1px solid #53D3DEFF;
}

#card-picture{
    margin-bottom: 100px;
    background-color: #f4f4f4;
}

#card-picture h4{
    font-size: 19px;
    font-weight: bold;
}
